<div [ngStyle] = "{'width.px': this._width, 'height.px': this._height}" class="panel" >

  <!--<tr [ngStyle] = "{'height.px': this.otstup}"></tr> &lt;!&ndash;отступ сверху&ndash;&gt;-->
  <tr [ngStyle] = "{'height.px': this._height, 'vertical-align': 'middle'}">
    <td [ngStyle] = "{'width.px': this.otstup}"></td> <!--отступ-->
    <td>
      <img  [src]="link"
            [ngStyle] = "{'height.px': this._height - this.otstup * 2, 'width': 'auto'}"
      >
    </td>
    <td [ngStyle] = "{'width.px': this.otstup}"></td> <!--отступ-->
    <td>
    <input name = 'textPlaceholder'
           type = 'text'
           class = "input"
           value = "{{text}}"
           placeholder = "{{textPlaceholder}}"
           [ngStyle] = "{'width.px': this._width - wButton - this.otstup * 6, 'vertical-align': 'middle'}"
    >
    </td>
    <td>
      <button name = "butAdd"
              class = "but"
              [ngStyle] = "{'width.px': wButton, 'height.px': hButton}"
              (mousedown)= "mousedown($event)"

      >
        Add Task
      </button>
    </td>
  <!--<tr [ngStyle] = "{'height.px': this.otstup}"></tr> &lt;!&ndash;отступ снизу&ndash;&gt;-->
</div>
<!--src="assets\cat_purr.png""-->
